spring:
  application:
    name: gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

server:
  port: 8080

eureka:
  client:
    service-url:
      defaultZone: http://serviceregistry:8761/eureka
  instance:
    hostname: gateway
    prefer-ip-address: true
